.pluCard {
  padding: 8px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  border: 1px black solid;
  border-radius: 12px;
  margin-bottom: 8px;
  padding: 8px;
}
.itemArticle {
  font-size: 20px;
}
.itemName {
  color: black;
}
.itemPlu {
  font-size: 20px;
  font-weight: 600;
}
